/* .shop html, body {
    background-image: url("/Users/jacoblars85/Desktop/code/tier3/solo-project/prime-solo-project-kingdom-clash/public/images/Super Mario Bros Coin.jpg");
    background-repeat: repeat;
    background-size: 8%;
    background-position-y: right;
    
} */

/* .shop html, body {
    background-image: url("/Users/jacoblars85/Desktop/code/tier3/solo-project/prime-solo-project-kingdom-clash/public/images/Mario-Party-Superstars-Toad-Sticker-Shop.avif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: right;
    
} */

.randomCharacter {
    position: absolute;
    /* border: 3px solid black; */
    height: 300px;
    width: 200px;
    top: 25%;
    left: 43.5%;
    text-align: center;
}

h2 {
    text-align: center;
}




.backButton {
    position: absolute;
    top: 94%;
    left: -17%;
    display: flex;
    width: 360px;
    justify-content: flex-end;

}