.randomCharacter {
    position: absolute;
    /* border: 3px solid black; */
    height: 300px;
    width: 200px;
    top: 57%;
    left: 43.5%;
    text-align: center;
}

.randomCharacter h4 {
    text-align: center;
    font-size: 25px;
    width: 277px;
    color: #7CEBFD;
    text-shadow: 2px 2px black;
    border-bottom: 3px solid black;
    margin-bottom: 0px;
    margin-left: -35px;
}

.randomCharacter h5 {
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 30px;
    color: #7CEBFD;
    text-shadow: 2px 2px black;
}

.randomCharacterCoins {
    padding-bottom: 0px;
}

.healthPot {
    position: absolute;
    /* border: 3px solid black; */
    height: 300px;
    width: 200px;
    top: 14.5%;
    left: 12.5%;
    text-align: center;
}

.healthPot h4 {
    font-size: 25px;
    color: #D40000;
    text-shadow: 2px 2px black;
    border-bottom: 3px solid black;
    

}

.healthPot h5 {
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 30px;
    color: #D40000;
    text-shadow: 2px 2px black;
}

.healthPotCoin {
    padding-bottom: 12px;
}

.healthPotInfo {
    position: absolute;
    top: 10%;
    right: -6%;
}



.staminaPot {
    position: absolute;
    /* border: 3px solid black; */
    height: 300px;
    width: 200px;
    top: 14.5%;
    left: 43.5%;
    text-align: center;
}

.staminaPot h4 {
    font-size: 25px;
    color: #00D400;
    text-shadow: 2px 1px black;
    border-bottom: 3px solid black;

}

.staminaPot h5 {
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 30px;
    color: #00D400;
    text-shadow: 2px 2px black;
}

.staminaPotCoin {
    padding-bottom: 12px;
}

.staminaPotInfo {
    position: absolute;
    top: 10%;
    right: -10%;
}


.maxPot {
    position: absolute;
    /* border: 3px solid black; */
    height: 300px;
    width: 200px;
    top: 14.5%;
    left: 75%;
    text-align: center;
}

.maxPot h4 {
    font-size: 25px;
    color: #FFD42A;
    text-shadow: 2px 1px black;
    border-bottom: 3px solid black;

}

.maxPot h5 {
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 30px;
    color: #FFD42A;
    text-shadow: 2px 2px black;
}

.maxPotCoins {
    padding-bottom: 12px;
}

.maxPotInfo {
    position: absolute;
    top: 10%;
    right: 3%;
}



.shopHeader {
    position: absolute;
    top: 6.5%;
    left: 46.5%;
    font-size: 40px;
    border-bottom: 3px solid black;
    text-shadow: 1px 1.8px white;
}

.randomCharacter img {
    cursor: pointer;
    padding-top: 10px;
    
}

.healthPot img {
    cursor: pointer;
    margin-bottom: -15px;
}

.staminaPot img {
    cursor: pointer;
    margin-bottom: -15px;

}

.maxPot img {
    cursor: pointer;
    margin-bottom: -15px;

}

.shop h4 {
    margin-bottom: 0px;
}







.backButton {
    position: absolute;
    top: 74%;
    left: -17%;
    display: flex;
    width: 360px;
    justify-content: flex-end;
    cursor: pointer;
}

.backButton:hover {
    background-color: #757777;
    text-decoration: none;
  }