.shop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100vw;
    /* border: 3px solid black; */
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.shopHeader {
    font-size: 40px;
    /* border-bottom: 3px solid black; */
    text-shadow: 1px 1.8px white;
    text-align: center;
    margin: 1%;
}


.bigBox {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 75%;
    width: 95%;
    border: 3px solid black;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    /* column-gap: 3%; */
}

.consumablesBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-margin: 0px;
    scroll-padding: 0px;
    scroll-snap-type: y mandatory;
    height: 100%;
    width: 35%;
    border-right: 3px solid black;
    justify-content: baseline;
    align-items: flex-start;
    text-align: center;
}

.randomCharacter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
    scroll-margin: 0px;
    scroll-padding: 0px;
    scroll-snap-type: y mandatory;
    height: 100%;
    width: 30%;
    /* border-right: 3px solid black; */
    /* border-left: 3px solid black; */
    justify-content: baseline;
    align-items: center;
    text-align: center;
}

.heldBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-margin: 0px;
    scroll-padding: 0px;
    scroll-snap-type: y mandatory;
    height: 100%;
    width: 35%;
    border-left: 3px solid black;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
}

.allCharacterBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: baseline;
    align-items: center;
    text-align: center;
}

.randomCharacter h4 {
    text-align: center;
    font-size: 25px;
    width: 277px;
    color: #7CEBFD;
    text-shadow: 2px 2px black;
    border-bottom: 3px solid black;
    margin-bottom: 0px;
}

.randomCharacter h5 {
    margin: 0px;
    /* margin-bottom: -5px; */
    font-size: 30px;
    color: #7CEBFD;
    text-shadow: 2px 2px black;
}

.allCharacterBox {
border-top: 3px solid black;
width: 100%;
margin-top: 10px;
}


.consumables {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 3px solid black;
    height: 120px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.consumables h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    text-shadow: 2px 2px black;
    /* border-bottom: 3px solid black; */
    
}

.consumables h5 {
    margin-top: 5px;
    margin: 0px;
    text-shadow: 2px 2px black;
}

.held {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 3px solid black;
    height: 120px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.held h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    text-shadow: 1px 1px white;
    /* border-bottom: 3px solid black; */
    
}

.held h5 {
    margin-top: 5px;
    margin: 0px;
    text-shadow: 1px 2px white;
}

.heldHeader, .consumableHeader, .characterHeader {
    font-size: 25px;
    align-self: center;
    text-shadow: 1px 1px white;
    
}

.randomCharacter img {
    cursor: pointer;
}

.backButton {
    position: absolute;
    top: 74%;
    left: -17%;
    display: flex;
    width: 360px;
    justify-content: flex-end;
    cursor: pointer;
}

.backButton:hover {
    background-color: #777878;
    text-decoration: none;
  }