.potionView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px solid black;
    justify-content: space-around;
    row-gap: 10px;
    column-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 1400px;
    height: 560px;
    margin-top: 10px;
    align-items: center;
  }

  .item_box {
    /* display: flex; */
    flex-direction: column;
    border: 3px solid white;
    height: 300px;
    width: 300px;
    justify-content: center;
    text-align: center;
    /* padding-left: 0px; */
    /* background-color: black; */
    
  }

  .item_box h3 {
    margin: 0;
    margin-top: -10px;
    font-size: 25px;
    border-bottom: 3px solid black;
    text-shadow: 1px 1px white;
  }

  .potionImg {
    height: 200px;
    width: 200px;
    /* margin-top: -15px; */
    /* padding-left: 10px; */
  }

.slider {
    /* margin-top: -11px; */
    padding-left: 60px;
}

.singleItemBoxUl {
    height: 200px;
    width: 200px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding-left: 50px;
    cursor: pointer;

}


.sellButton {
    height: auto;
    width: 50px;
    background-color: black;
    border: 1px solid white;
    color: white;
}

.sellButton:disabled {
    cursor:default;
}


.statDescription {
    font-size: 30px;
    /* padding: 0px; */
    margin: 0px;
    text-align: center;
}

.statDescription p {
    margin-top: 0px;
    padding-top: 30px;
    text-align: center;
}


.statHpText {
    color: red;
    text-shadow: 2px 2px black;
}

.statStaminaText {
    color: limegreen;
    text-shadow: 2px 2px black;
}



  .amountOfItems p{
    position: relative;
    top: -240%;
    right: -90%;
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 30px;
    margin: 0px;
    margin-top: -32px;

  }


  .inventory h2 {
    text-align: center;
    font-size: 40px;
    margin: 0px;
    text-shadow: 1px 1px white;
    /* padding-bottom: 10px; */
    margin-top: -20px;
  }