.inventory {
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100vw;
    /* border: 3px solid black; */
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    row-gap: 0px;
}

.itemView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-margin: 0px;
  scroll-padding: 0px;
  scroll-snap-type: y mandatory;
  height: 75%;
  width: 95%;
  column-gap: 50px;
  row-gap: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 3px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

  .item_box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 3px solid white;
    height: 250px;
    width: 250px;
    row-gap: 5px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    /* padding-left: 0px; */
    /* background-color: black; */
    
  }

  .item_box h3 {
    margin: 0;
    /* margin-top: -10px; */
    font-size: 25px;
    /* border-bottom: 3px solid black; */
    text-shadow: 1px 1px white;
  }



.singleItemBoxUl {
    height: 125px;
    width: 125px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    /* padding-left: 50px; */
    cursor: pointer;

}

.sellButton {
    height: auto;
    width: 50px;
    background-color: black;
    border: 1px solid white;
    color: white;
}

.sellButton:hover:not(:disabled) {
  background-color: #757777;
  text-decoration: none;
}


.statDescription {
    font-size: 20px;
    height: 125px;
    width: 125px;
    /* padding: 0px; */
    margin: 0px;
    text-align: center;
}

.statDescription p {
    /* margin-top: 0px; */
    /* padding-top: 30px; */
    text-align: center;
}


.statHpText {
    color: red;
    text-shadow: 2px 2px black;
}

.statStaminaText {
    color: limegreen;
    text-shadow: 2px 2px black;
}



  .amountOfItems {
    /* position: relative;
    top: -240%;
    right: -90%; */
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 30px;
    margin: 0px;
    /* align-self: flex-end; */
    /* margin-top: -32px; */

  }

  .headerLine h3 {
    width: 160px;
    height: 54px;
    /* align-items: center; */
    text-align:justify;
    /* align-self: center; */
  }

  .headerLine {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    column-gap: 10px;
    justify-content: flex-end;
    align-items:end;
    text-align: center;
    border-bottom: 3px solid black;
  }

  .backButton:hover {
    background-color: #777878;
    text-decoration: none;
  }


  .inventory h2 {
    text-align: center;
    font-size: 40px;
    margin: 0px;
    text-shadow: 1px 1px white;
  }