html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}


/* Make the screen shake when you click on it
  (for attacks)
 */
/* body:has(.uniqueAttack:active:not(:disabled)) {
    animation: shake 0.6s;
    animation-iteration-count: infinite;
}

body:has(.kickAttack:active:not(:disabled)) {
    animation: shake 0.6s;
    animation-iteration-count: infinite;
}

body:has(.pokeAttack:active:not(:disabled)) {
    animation: shake 0.6s;
    animation-iteration-count: infinite;
} */

body:has(.shakeTheScreen ) {
    animation: shake 0.6s;
    animation-iteration-count: infinite;
}

.enemyPicAttack {
    margin-right: 700px;
    margin-top: 200px;
}

.chacracterPicAttack {
    margin-left: 700px;
    position: absolute;

}

body:has(.shake ) {
    animation: shake 0.6s;
    animation-iteration-count: infinite;
}



/* https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

  
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(3px);
    }
  }


.hp-meter {
    position: absolute;
    top: 4.3%;
    position: absolute;
    height: 10%;
    width: 65%;
    background: white;
    margin: 0px auto -30px auto;
    display: block;
    border: 2px solid black;

}

.hp-meter::-webkit-progress-value {
    background: red;
}

.stamina-meter {
    position: absolute;
    top: 15%;
    position: absolute;
    height: 7%;
    width: 60%;
    background: white;
    margin: 0px auto -30px auto;
    display: block;
    border: 2px solid black;

}

.stamina-meter::-webkit-progress-value {
background: limegreen;
}

.hp-text {
    position: absolute;
    top: -1.5%;
    width: 100%;
    /* color: white; */
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 156.25%;
    z-index: 1;
    /* text-shadow: 0px 0px 9px #ff0000; */
}

.stamina-text {
    position: absolute;
    top: 9.5%;
    width: 100%;
    /* color: white; */
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 125%;
    z-index: 1;
    /* text-shadow: 0px 0px 9px #ff0000; */
}

.character {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 34%;
    left: 17%;
    /* border: 1px solid blue; */
    /* width: 400px;
    height: 400px; */
    width: 30%;
    height: 45%;
    justify-content: center;
    
}

.character img {
    position: absolute;
    top: 23%;
    /* border: 1px solid blue; */
    /* width: 300px;
    height: 300px; */
    width: 60%;
    height: 75%;
    animation: MoveUpDown .8s linear infinite;

}

.enemy, .shake{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 5%;
    right: 16%;
    /* border: 1px solid blue; */
    width: 30%;
    height: 45%;
    justify-content: center;
}

.enemy img, .shake img {
    position: absolute;
    top: 23%;
    /* border: 1px solid blue; */
    width: 50%;
    height: 80%;
    animation: MoveUpDown .8s linear infinite;

}

.attacks {
    position: absolute;
    right: 0.5%;
    bottom: 0.5%;
    /* width: 20%;
    height: 30%; */
    display: grid;
    gap: 6px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    /* border: 1px solid blue; */
}

.attacks button {
    position: relative;
    width: 125px;
    height: 125px;
    /* margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 2px; */
    background-size: cover;
    cursor: pointer;
}

.attacks button:disabled {
    position: relative;
    width: 125px;
    height: 125px;
    /* margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 2px; */
    background-size: cover;
    cursor: default;
}

.inventoryMove {
    grid-column: 2 / 2;
    grid-row: 2;
    background-image: url('/public/images/InventoryButtonPic.png');
    background-color: #b0b3b3; 
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    font-size: 20px;
    color: white;
    border: 3px solid black;
}

.inventoryMove:hover:not(:disabled), .uniqueAttack:hover:not(:disabled), .attackToggleButton:hover:not(:disabled), .kickAttack:hover:not(:disabled), .pokeAttack:hover:not(:disabled), .backButtonAttack:hover:not(:disabled), .runButton:hover:not(:disabled) {
    background-color: white;
    text-decoration: none;
  }

  .inventoryMove:disabled, .uniqueAttack:disabled, .attackToggleButton:disabled, .switch:disabled, .kickAttack:disabled, .pokeAttack:disabled, .backButtonAttack:disabled, .runButton:disabled {
    cursor: default;
    opacity: 50%;
}

.uniqueAttack {
    grid-column: 1 / 2;
    grid-row: 1;
    background-image: url("/public/images/uniqueAttackButtonPic.png");
    background-color: #b0b3b3;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    font-size: 20px;
    color: white;
    border: 3px solid black;
}

.attackToggleButton {
    grid-column: 1 / 2;
    grid-row: 1;
    background-image: url("/public/images/uniqueAttackButtonPic.png");
    background-color: #b0b3b3;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    font-size: 20px;
    color: white;
    border: 3px solid black;
}

.switch {
    grid-column: 2 / 2;
    grid-row: 1;
    background-image: url('/public/images/switchButtonPic.png');
    background-color: #b0b3b3;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    font-size: 20px;
    color: white;
    border: 3px solid black;
    /* text-shadow: 3px 3px white; */
    
}

.switch:hover:not(:disabled) {
    background-color: white;
    color: black;
    text-decoration: none;
  }

.kickAttack {
    grid-column: 2 / 2;
    grid-row: 1;
    background-image: url('/public/images/kickAttackButtonPic.png');
    background-color: #b0b3b3;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    font-size: 20px;
    color: white;
    border: 3px solid black;
}

.pokeAttack {
    grid-column: 2 / 2;
    grid-row: 2;
    background-image: url('/public/images/pokeIconPic.png');
    background-color: #b0b3b3;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    font-size: 20px;
    color: white;
    border: 3px solid black;
}

.backButtonAttack {
    grid-column: 1 / 2;
    grid-row: 2;
    background-image: url('/public/images/backButtonIconPic.png');
    background-color: #b0b3b3;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    font-size: 20px;
    color: white;
    border: 3px solid black;
}

.runButton {
    grid-column: 1 / 2;
    grid-row: 2;
    background-image: url('/public/images/runningIconPic.svg');
    background-color: #b0b3b3;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    font-size: 20px;
    color: white;
    border: 3px solid black;
}

.textBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0.5%;
    right: 20%;
    /* top: 70.5%; */
    /* left: 49%; */
    width: 33%;
    height: 205px;
    background-color: #b0b3b3;
    border: 3px solid black;
    text-align: center;
    font-size: 30px;

}

