html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}


/* Make the screen shake when you click on it
  (for attacks)
 */
body:has(.attacks button:active:not(:disabled)) {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}



/* https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


progress {
    height: 30px;
    width: 70%;
    background: white;
    /* margin: 0px auto -30px auto; */
    display: block;
    border: 2px solid black;
}

.enemy progress {
    margin-top: -25px;
}

.character progress {
    margin-top: -25px;
}

.enemy p, .character p {
    width: 100%;
    /* color: white; */
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    /* padding-bottom: 10px; */
    font-size: 20px;
    /* text-shadow: 0px 0px 9px #ff0000; */
}

/* .character p, .enemy p {
    margin-top: -10px;
    text-shadow: 0px 0px 9px #00ff00;
} */

.enemy progress::-webkit-progress-value {
    background: red;
}

.character progress::-webkit-progress-value {
    background: green;
}

.character {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 30%;
    left: 3%;
    border: 1px solid blue;
    width: 400px;
    height: 400px;
    justify-content: center;
    row-gap: 2px;
    column-gap: 20px;
}

.enemy {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 1%;
    right: 8%;
    border: 1px solid blue;
    width: 400px;
    height: 400px;
    justify-content: center;
}




/* my own css */


.attacks {
    position: absolute;
    top: 67%;
    left: 75%;
    display: flex;
    width: 360px;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-around;
    border: 1px solid blue;
}

.attacks button {
    position: relative;
    width: 125px;
    height: 125px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 2px;
    background-size: cover;
    cursor: pointer;
}


.backButton {
    position: absolute;
    top: 94%;
    left: -17%;
    display: flex;
    width: 360px;
    justify-content: flex-end;

}


.textBox {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 400px;
    height: 100px;
    background-color: lightgrey;
    border: 3px solid black;
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
}

/* .batlle {
    display: flex;
    height: 650px;
    width: 1300px;
    border: 1px solid blue;
    overflow-y: hidden;
}

.attacks {
    justify-content: flex-end;
    display: flex;

}

.attacks button {
    padding: 50px;
} */