/* html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
} */

.characterBox html, body {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: right;

}


.characterBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid blue;
    justify-content: space-around;
    row-gap: 10px;
    column-gap: 10px;
    margin-left: 20px;
    width: 1120px;
    height: 640px;
  }

.characterBox h2 {
  position: absolute;
  text-align: center;
  margin-top: -30px;
}
  
  .single-box {
    border: 3px solid black;
    height: 170px;
    width: 170px;
    justify-content: space-around;
    text-align: center;
    padding-left: 0px;
  }
  
  .singleBoxUl {
    height: 100px;
    width: 100px;
    text-align: center;
    padding-left: 37px;
  }
  
  h5 {
    margin: 0px;
  }

  .starterCharacterView {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 14.5%;
    left: 81%;
    border: 3px solid black;
    width: 250px;
    height: 638px;
    justify-content: center;
    background-color: azure;
}

.backButton {
  position: absolute;
  top: 94%;
  left: -17%;
  display: flex;
  width: 360px;
  justify-content: flex-end;

}
  